.sidebarOption {
  display: flex;
  color: #b3b3b3;;
  height: 35px;
  cursor: pointer;
  transition: 200ms color ease-in;
  align-items: center;
}
.sidebarOption:hover {
  color: white;
}
.sidebarOption__icon {
  padding-inline: 10px;
}
.sidebarOption > p {
  margin-top: 10px;
  margin-left: 20px;
  font-size: 16px;
  font-weight: 500;
}
